.watchs {
  margin-top: 3rem;
}

.watchs,
.cities {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  place-items: center;
}

.city {
  text-align: center;
  font-size: 1.6rem;
}